<div class="outerMostDiv" style="display: flex">
  <div class="container">
    <h1 class="title">Policy Details</h1>
    <div
      class="card"
      style="
        width: 29vw;
        height: 45vh;
        align-items: center;
        border: none;
        background: transparent;
      "
    >
      <p style="margin-top: 10%">Name : {{ adminPolicy.policyName }}</p>
      <p>Description : {{ adminPolicy.policyDescription }}</p>
      <p>Duration : {{ adminPolicy.policyDuration }} YEARS</p>
      <p>Premium Amount : {{ adminPolicy.premiumAmount }} .RS</p>
      <p>Property Amount : {{ adminPolicy.propertyAmount }} .RS</p>
      Features:
      <div *ngFor="let feature of features" >
        <p style="margin-left: 30%; margin-top: -5%;">{{feature.featureName}}.</p>
    </div>
    </div>
  </div>

  <div class="container">
    <h1 class="title">General Policy Details</h1>

    <div class="alert alert-success alert-dismissible" *ngIf="message">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ message }}</strong>
    </div>

    <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ errorMessage }}</strong>
    </div>

    <div class="input-form">
      *nomineeName:
      <input
        type="text"
        [(ngModel)]="ownedPolicy.nomineeName"
        name="nomineeName"
        required
      />
      <!-- <div *ngIf="nomineeName.invalid && (nomineeName.dirty || nomineeName.touched)">
        <div *ngIf="nomineeName.errors?.['required']" class="alert alert-danger ">
          Enter a valid nominee Name!!
        </div>
      </div> -->
      

      *nomineeAge:
      <input
        type="number"
        [(ngModel)]="ownedPolicy.nomineeAge"
        name="ownedPolicyNomineeAge"
        required
      />
      <!-- <div *ngIf="nomineeAge.invalid && (nomineeAge.dirty || nomineeAge.touched)">
        <div *ngIf="nomineeAge.errors?.['required']" class="alert alert-danger ">
          Enter a valid nominee age!!
      <input type="number" [(ngModel)]="ownedPolicy.nomineeAge" name="ownedPolicyNomineeAge" #nomineeAge="ngModel"  required  />
      <div *ngIf="nomineeAge.invalid && (nomineeAge.dirty || nomineeAge.touched)">
        <div *ngIf="nomineeAge.errors?.['required']" class="text-danger ">
         Nominee age is required!
        </div>
      </div> -->
     

      *nomineeRelation:
      <input
        type="text"
        [(ngModel)]="ownedPolicy.nomineeRelation"
        name="ownedPolicyNomineeRelation"
        required
      />
      <!-- <div *ngIf="nomineeRelation.invalid && (nomineeRelation.dirty || nomineeRelation.touched)">
        <div *ngIf="nomineeRelation.errors?.['required']" class="alert alert-danger ">
          Enter a valid Nominee Relation !!
        </div>
      <input type="text" [(ngModel)]="ownedPolicy.nomineeRelation" name="ownedPolicyNomineeRelation" #nomineeRelation="ngModel" pattern="^[A-Za-z]+$" required  />
       <div *ngIf="nomineeRelation.invalid && (nomineeRelation.dirty || nomineeRelation.touched)">
        <div *ngIf="nomineeRelation.errors?.['required']" class="text-danger ">
          Enter a Nominee Relation !!
        </div>
      </div> 
      <div *ngIf="nomineeRelation.invalid && (nomineeRelation.dirty || nomineeRelation.touched)">
        <div *ngIf="nomineeRelation.errors?.['pattern']" class="text-danger ">
          Enter a valid Nominee Relation !!
        </div>
      </div> 

      
      *Select Features:
      <div *ngFor = "let fea of feat">
        <input type="checkbox"  id="feature" name="feature" value="feature" >
        <div [(ngModel)]="ownedPolicy.feature">
          <label for="feature" > {{fea.featureName}}</label><br>
        </div> 
        
      </div> -->
      

      


      <button class="submit" (click)="addOwnedPolicy(ownedPolicy.custid)">
          Add Owned Policy
        </button>
    </div>
  </div>
</div>
