.outerDiv{
    width: 100%;
    height:100%;
    background: rgb(255,203,203);
    background: linear-gradient(90deg, rgba(255,203,203,0.42482930672268904) 0%, rgba(255,197,118,0.1811318277310925) 50%, rgba(240,255,126,0.43043154761904767) 100%);
}

#page{
    margin-inline-start: 28vw;
    padding-top: 5vw;
    background: transparent;
}

.card{
    align-items: center;
}

.form-control{
    width:30vw
}

.form-label{
    font-weight: bolder;
}

button{
    margin-inline: 35%;
    margin-top: 5%;
}

h2{
    padding-bottom: 3vw;
}