    <app-navbar></app-navbar>
    <div class="container py-4"> 

    <h1 class="title my-3 ">Policy Details</h1>
      <div class=" card-desk col mb-4">
         <div *ngFor="let policy of policies" class=" col-lg-4 p-3 card rounded-md shadow shadow-sm  ">

    
       <p >Nominee Name : {{policy.nomineeName}}</p>
       <p>Nominee Age : {{policy.nomineeAge}}</p>
       <p>Nominee Relation : {{policy.nomineeRelation}}</p>
       <p>OwnedPolicyId : {{policy.id}}</p>
       <p>IssueDate : {{policy.issueDate}}  years</p>
       <p>ExpiryDate (in sq.ft) : {{policy.expiryDate}} sq.ft</p>
       <p> feature : {{policy.feature}}</p>

       
       <button (click)="goToClaim(policy.id)">Claim</button>
       <button routerLink="/home">Back</button>
      </div>
    
   </div>
    </div>
