<div class="container py-4 card border-primary col-lg-4 p-3  rounded-md shadow shadow-sm border-secondary " style="margin-top: 10%;">
<div class="col-mb-6 col-mb-12 " >
    <form #orderForm="ngForm">
      <h3>Payment Summary</h3>
      <div class="form-group ">
        <label for="fullName">Name of Customer:</label>
        <input
        value="{{Name}}"
          type="text"
          class="form-control"
          id="fullName"
          placeholder="Full name"
          [(ngModel)]="Name"
          name="fullName"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="amount">Payable Amount:</label>
        <input
          type="number"
          class="form-control"
          id="amount"
          placeholder="Amount"
          [(ngModel)]="transaction.amount"
          name="amount"
          disabled
        />
      </div>
      <div class="text-center">
        <button
          type="button"
          class="btn btn-primary float-left px-5 py-2 "
          
          (click)="createTansactionAndBuyPolicy(orderForm)"
        >
          Pay Now
        </button>
      </div>
    </form>
  
  
  </div>
</div>

