<p>policy-payments works!</p>

            <div class="col-6">

                <form #orderForm="ngForm">

                    <div>
                        <label>Name of Customer : </label>
                        <b>
                        <input 
                               placeholder="Full name"
                               name="fullName"
                               
                               value="{{Name}}"

                               disabled></b>
                    </div>
                    <div>
                        <label>Amount to Pay : </label>
                        <input type="text"
                               placeholder="Amount"
                               value
                               [(ngModel)]="transaction.amount"
                               name="fullName"
                               disabled>
                    </div>
                    <div align="right">
                        <button type="submit" (click)="createTansactionAndBuyPolicy(orderForm)">Place Order</button>
                    </div>
                </form>

            </div>
     