<div class="container my-5">
   <h3 class="my-3">Display all Features.</h3>
   <button (click)="backToHome()" class="btn btn-primary mb-3 px-4 py-2 rounded border-0">Back</button>
   <table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Percent</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let feature of features">
        <td>{{feature.id}}</td>
        <td>{{feature.featureName}}</td>
        <td>{{feature.percent}}</td>
        <td><button  (click)="deleteFeatureById(feature.id)" class="btn btn-danger">Delete</button></td>
        <td><button  (click)="updateFeature(feature)" class="btn btn-primary">Update</button></td>
    </tr>
   </table>
</div>


<div *ngIf=isUpdate>
    <h3>Update Feature:</h3>   
    <form (ngSubmit)="updateFeatureSubmit()">
        id:<input type="number" [(ngModel)]="featureUpdate.id" name="fId" disabled>
        Name:<input type="text" [(ngModel)]="featureUpdate.featureName" name="fName" required>
        Price:<input type="number" [(ngModel)]="featureUpdate.percent" name="percent" required>
        <input type="submit" value="Update Feature">
    </form>
    
    
</div>




