
<nav class="navbar navbar-expand py-3" style="background-color: rgb(25, 90, 201);">
    <div class="container-fluid">
      <img src="../../../assets/logo.jpg" style="align-self: self-start; width: 80px; height: 50px;">
      <a class="navbar-brand text-light" routerLink="/home" style="padding-left: 1%;">Home Insurance</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link active text-light" aria-current="page" routerLink="/home">Home</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active text-light"
              aria-current="page"
              routerLink="/addproperty">Property</a>
          </li>
  
          <li class="nav-item">
            <div class="dropdown">
              <a
                class="dropdown-toggle nav-link active text-light"
                aria-current="page"
                data-toggle="dropdown">Profile</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/mypolicies">My Policies</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" routerLink="/myProperty">My Properties</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" routerLink="/myclaims">My Claims</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" (click)="logoutUser()">LogOut</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
