<app-navbar></app-navbar>
<h1 class="title">Property Details</h1>
<div *ngFor="let property of properties" class = "card" >



   <p >Address : {{property.address}}</p>
   <p>City : {{property.city}}</p>
   <p>Country : {{property.country}}</p>
   <p>Pincode : {{property.pincode}}</p>
   <p>Age of Building : {{property.ageOfBuilding}}  years</p>
   <p>Area (in sq.ft) : {{property.areaInSquareFeet}} sq.ft</p>
   <p>Cost of Property (in rupees) : ₹ {{property.costOfProperty}}</p>
   
        
       
      
</div>

