<div class="container">

    <h1 class="title">Add Feature</h1>
    <form #featureForm="ngForm" >
         <div class="input-form">
            <label for="" class="form-label"> *Feature name:</label>
           
            <input type="text" [(ngModel)]="feature.featureName" name="name" #name="ngModel" required/> 
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors?.['required']" class ="text-danger">
                    Feature Name Required
                </div>
            </div>
           <!-- <label for="" class="form-label">*Percent:</label> 
            <input type="number" [(ngModel)]="feature.percent" name="percent" pattern="^\d+(\.\d{1,2})?%?$" #percent="ngModel" required/> 
            <div *ngIf="percent.invalid && (percent.dirty || percent.touched)">
                <div *ngIf="percent.errors?.['required']" class ="text-danger">
                    Feature Percent Required
                </div>
            </div>
            <div *ngIf="percent.invalid && (percent.dirty || percent.touched)">
                <div *ngIf="percent.errors?.['pattern']" class ="text-danger">
                    Feature Percent Required
                </div>
            </div> -->
            <button class="submit" [disabled]="!featureForm.form.valid" (click)="addFeature(featureForm)" routerLink="/features">Add Feature</button>
    
        </div>
    
    </form>
<button routerLink="/admin/home" class="px-4 py-2 my-4 mx-5 btn-secondary rounded border-0 mb-3">Back</button>

    
    

</div>