
h1{
    font-size:x-large;
    color: black;
}
.title{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
   /* text-shadow: 2px 2px 4px #3d3d3d; */
    text-align: center;
}
.image{
    shape-margin: 0%;
    box-shadow: 10;
}
.card-title{
    margin-inline: 32%;
    text-align: left;
}

#steps{
    margin-top: 5%;
}
.card-title{
 text-align: right;
}
img{
    width: 60vw;
    height: 30vw;
    margin-inline: 20%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.text{
    text-align:right;
}
.card-deck{
    margin: 15px;
    border: 10;
}
.desc{
    text-align: left;
 size: 20;
}