<div class="alert alert-success alert-dismissible" *ngIf="message">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <strong>{{ message }}</strong>
</div>

<div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <strong>{{ errorMessage }}</strong>
</div>

<div class="container">
  <form #claimForm="ngForm" class="col-lg-6  py-5 mx-auto " style="background-color: rgb(241, 243, 246);">
    <h1 class="title">Apply for claim :</h1>
    <div class="form-group">

<br>
<label for="documentProof">Upload Document Proof :</label><br>

<label for="documentProof" class="form-label">*Adhar card:</label>
      <input class="form-control" type="file" id="documentProof" [(ngModel)]="claim.documentProof"
        accept=".pdf,.jpg,.png" [ngModelOptions]="{standalone :true}" required/>

        <label for="documentProof" class="form-label">*Address Proof:</label>

      <input class="form-control" type="file" id="documentProof" [(ngModel)]="claim.documentProof"
        accept=".pdf,.jpg,.png" required />

        <label for="documentProof" class="form-label">*Photo:</label>

      <input class="form-control" type="file" id="documentProof" [(ngModel)]="claim.documentProof"
        accept=".pdf,.jpg,.png" [ngModelOptions]="{standalone :true}" required />
    </div>
<!-- <label for="aadharNumber">Aadhar Number:</label>
<input type="number" id="aadharNumber" formControlName="aadharNumber" class="form-control"  required>
</div>

<div class="form-group">
<label for="panNumber">PAN Number:</label>
<input type="text" id="panNumber" formControlName="panNumber" class="form-control" required>
</div>

<div class="form-group">
<label for="agreementId">Agreement ID:</label>
<input type="number" id="agreementId" formControlName="agreementId" class="form-control" required>
</div> -->


    <hr>
   
<form class="form-group">
      <label>*Cause of Claim:</label>

      <br>
        <label>
          <input type="radio" [ngModelOptions]="{standalone :true}" [(ngModel)]="claim.causeOfClaim" value="Flood"  required />
          Flood
        </label>
    <br>

        <label>
          <input type="radio" [ngModelOptions]="{standalone :true}" [(ngModel)]="claim.causeOfClaim" value="Fire" required/>
          Fire
        </label>
    
        <br>
     
        <label>
          <input type="radio" [ngModelOptions]="{standalone :true}" [(ngModel)]="claim.causeOfClaim" value="Earquake" required/>
          Earquake
        </label><br>
        <label>
          <input type="radio" [ngModelOptions]="{standalone :true}" [(ngModel)]="claim.causeOfClaim" value="Lighting" required/>
          Lighting
        </label>
      </form>
    <hr>
  
      <label for="causeOfClaim">Description of Claim:</label>

      <textarea class="form-control" id="causeOfClaim" class="form-control"  required></textarea>

    
      <label for="claimRequestAmount">Claim Request Amount:</label>

      <input type="number" id="claimRequestAmount" [ngModelOptions]="{standalone :true}" class="form-control"
        [(ngModel)]="claim.claimRequestAmount" #Amount="ngModel"  required />
        <div *ngIf="Amount.invalid && (Amount.dirty || Amount.touched)">
          <div
            *ngIf="Amount.errors?.['required']"
            class="text-danger input-control"
          >
            Enter Claim Request Amount!
          </div>
        </div>
       

      <label for="claimReviewed">Claim Reviewed:</label>
      <select id="claimReviewed" class="form-control" formControlName="claimReviewed"  required>
        <option value="true" disabled>Yes</option>
        <option value="false" >No</option>
      </select>

      

    <button type="submit" class="btn btn-primary px-5 my-2 py-2 rounded" (click)="addClaim()">
      Submit
    </button>
  </form>
</div>
<!-- <div class="input-form">

    <form #claimForm="ngForm">

      <label>Select Cause of Claim:</label>

      <div *ngFor="let cause of claimCauses">

        <label>

          <input type="radio" [(ngModel)]="selectedCause" [value]="cause.value"> {{ cause.lable }}

        </label>

      </div>

 

 

      <div class="form-group">

        <label for="claimableAmount">Claimable Amount:</label>

        <input type="number" id="claimableAmount" class="form-control" [(ngModel)]="claimableAmount"

          name="claimableAmount" />

      </div>

 

      <div class="form-group">

        <label for="claimRequestAmount">Claim Request Amount:</label>

        <input type="number" id="claimRequestAmount" class="form-control" [(ngModel)]="claimRequestAmount"

          name="claimRequestAmount" />

      </div>

 

      <div class="form-group">

        <label for="documentProof"> Upload Document Proof* :</label>

        <input type="file" id="documentProof" (change)="onFileSelected($event)" accept=".pdf,.jpg,.png" />

      </div>

 

      <button type="submit" class="btn btn-primary">Submit Claim</button>

    </form>

 

  </div> -->
        <!-- <label for="documentProof" class="form-label">Adhar card:</label>
      <input class="form-control" type="file" id="documentProof" [(ngModel)]="claim.documentProof"
        accept=".pdf,.jpg,.png" [ngModelOptions]="{standalone :true}" required/>

        <label for="documentProof" class="form-label">Address Proof:</label>

      <input class="form-control" type="file" id="documentProof" [(ngModel)]="claim.documentProof"
        accept=".pdf,.jpg,.png" required />

        <label for="documentProof" class="form-label">Photo:</label>

      <input class="form-control" type="file" id="documentProof" [(ngModel)]="claim.documentProof"
        accept=".pdf,.jpg,.png" [ngModelOptions]="{standalone :true}" required />
    </div> -->
    <!-- 
      <select  id="claimReviewed" [ngModelOptions]="{standalone :true}" class="form-control"
        [(ngModel)]="claim.claimReviewed" required>
         <option value="true" disabled>Yes</option> 

        <option value="false">No</option>
      </select> -->