<app-navbar></app-navbar>
<div class="container">
    <h1 class="title">Add property</h1>

    <div class="alert alert-success alert-dismissible" *ngIf="message" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{message}}</strong>
    </div>

    <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{errorMessage}}</strong>
    </div>

    <div class="input-form" >
      Address*:
      <input type="text" [(ngModel)]="property.address" name="address" #address="ngModel" required />
      <div *ngIf="address.invalid && (address.dirty || address.touched)">
        <div *ngIf="address.errors?.['required']" class="alert alert-danger ">
          Enter a valid address!!
        </div>
      </div>
      City*:
      <input type="text" [(ngModel)]="property.city" name="propertyPassword" />
      Country :
      <input type="text" [(ngModel)]="property.country" name="propertyPassword" />
      Pincode :
      <input
        type="number"
        [(ngModel)]="property.pincode"
        name="propertyPassword"
      />
      Area (in sq.ft) :
      <input
        type="number"
        [(ngModel)]="property.areaInSquareFeet"
        name="propertyPassword"
      />
      Property cost :
      <input
        type="number"
        [(ngModel)]="property.costOfProperty"
        name="propertyPassword"
      />
      Property age :
      <input
        type="number"
        [(ngModel)]="property.ageOfBuilding"
        name="propertyPassword"
      />
      <button class="submit" (click)="addProperty(property.custId)">Add property</button>
    </div>
  </div>