<div class="container">

<button routerLink="/admin/home" class="px-4 py-2 my-4 btn-primary rounded border-0 mb-3">Back</button>


  <div class="alert alert-success alert-dismissible" *ngIf="message" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{message}}</strong>
  </div>

  <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{errorMessage}}</strong>
  </div>
  
   
      <form #policyForm="ngForm"  class="col-lg-6 mx-auto py-5"> <h1 class="title">Add Policy</h1>
  <label for="name" class="form-label">  *Policy name :</label>
    
      <input class="form-control"  type="text" [(ngModel)]="adminPolicy.policyName" name="name" #name="ngModel" required /> 
      <div *ngIf="name.invalid && (name.dirty || name.touched)"  >
        <div *ngIf="name.errors?.['required']" class="alert alert-danger">
          Name required!!
        </div>
      </div><br>
     <label for="description" class="form-label"> Policy Description*:</label>
      <input class="form-control"  type="text" [(ngModel)]="adminPolicy.policyDescription" name="description" #description="ngModel" required />
      <div *ngIf="description.invalid && (description.dirty || description.touched)"  >
        <div *ngIf="description.errors?.['required']" class="alert alert-danger">
          Description required
        </div>
        </div>
        <br>

        <label for="description" class="form-label">   *Policy Duration (in years)*:</label>
    
      <input class="form-control" type="text" [(ngModel)]="adminPolicy.policyDuration" name="propertyPassword" #duration="ngModel" 
      pattern="^[0-9]*$" required />

      <div *ngIf="duration.invalid && (duration.dirty || duration.touched)">
      
        <div *ngIf="duration.errors?.['required']" class="alert alert-danger">Enter valid duration

        </div>
      </div>
      <div *ngIf="duration.invalid && (duration.dirty || duration.touched)">
        <div *ngIf="duration.errors?.['pattern']" class="alert alert-danger">Enter numaric value!
          
        </div>
      </div>
      <br>

      <label for="description" class="form-label">   *Policy Premiun Amount (per month): </label>
   
      <input class="form-control" 
        type="number"
        [(ngModel)]="adminPolicy.premiumAmount"
        name="premiumAmount" #premiumamount="ngModel" required
      />
      <div *ngIf="premiumamount.invalid && (premiumamount.dirty || premiumamount.touched)">
        <div *ngIf="premiumamount.errors?.['required']" class="alert alert-danger">
          Enter amount
        </div>
      </div>
        <br>
        <!-- <label for="description" class="form-label">       *Property Amount:</label>
 
      <input class="form-control" 
        type="number"
        [(ngModel)]="adminPolicy.propertyAmount"
        name="propertyAmount" #propertyamount="ngModel" required/>
      <div *ngIf="propertyamount.invalid && (propertyamount.dirty || propertyamount.touched)">
        <div *ngIf="propertyamount.errors?.['required']" class="alert alert-danger"> Property Amount required !!
        </div>
      </div> -->
     
      <button class="submit btn-primary px-4 py-2 border-0 rounded mt-4" [disabled]="!policyForm.form.valid"  (click)="addAdminPolicy(policyForm)">Add Policy</button>
 

    </form>
  </div>
