<app-navbar></app-navbar>
<div class="container py-4"> 

<h1 class="title my-3 ">Claim Details</h1>
  <div class=" card-desk col mb-4">
     <div *ngFor="let claim of claims" class=" col-lg-4 p-3 card rounded-md shadow shadow-sm  ">

        <p>Claimed Date : {{claim.claimedDate}}      </p>
        <p>Document Proof : {{claim.documentProof}}     </p>
        <p>Cause Of Claim : {{claim.causeOfClaim}} </p>
        <p>Claimable Amount : {{claim.claimableAmount}} </p>
        <p>Claim Request Amount : {{claim.claimRequestAmount}}  </p>
        <p>Claim Reviewed : {{claim.claimReviewed}} </p>

        <button class="btn btn-success" *ngIf="claim.claimReviewed == true">Claim Reviewed</button>
        <button class="btn btn-danger" *ngIf="claim.claimReviewed == false">Claim Review Pending</button>
 
      <button style="margin-top: 3%;" class="btn btn-block btn-primary" routerLink="/home">Back</button>
  </div>

</div>
</div>

