<div>
    <button (click)="createPolicy()">Create Policy</button>
    <button (click)="getAllPolicy()">Get All Policies</button>
    <button (click)="createFeature()">Create Feature</button>
    <button (click)="displayAllFeature()">Get All Features</button>
    <button (click)="viewAllCustomers()">View All Customers</button>
    <button >View All Claims</button>
    <!-- <button (click)="">View All Properties</button> -->
    <!-- <button (click)="">View All Claims</button> -->
    <!-- <button (click)="">View All OwnedPolicies</button> -->
    <!-- <button (click)="">View All Payments</button> -->
</div>
