
<router-outlet></router-outlet>

<nav class="nav">
  <ul class="nav nav-tabs" >
    <li class="nav-item"><a routerLink="/" class="nav-link active">Property</a></li>
    <li class="nav-item"><a routerLink="/home" class="nav-link active"> Home</a></li>
  </ul>
  <div class="container-fluid">

      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <img
            src="../assets/user img.jpeg"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
        </a>
        <ul DropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </li>
    
  </div>
</nav>



<router-outlet></router-outlet>
