<div id="page" class="card" style="width: 18rem;">
    <h2>Admin Login</h2>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Emter Email</label>
        <input type="email" [(ngModel)]="admin.email" class="form-control" name="email" id="email" placeholder="Enter admin's Email-ID" aria-describedby="emailHelp">
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" [(ngModel)]="admin.password" class="form-control" name="password" id="password" placeholder="**Password**">
      </div>
  
      <button (click)="userLogin()" id="loginbtn" class="btn btn-primary">Login</button>
    
    </form>
  </div>
  

  