<div class="alert alert-success alert-dismissible" *ngIf="message">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{message}}</strong>
</div>

<div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{errorMessage}}</strong>
</div>

<div class="container  d-flex justify-content-center align-items-center" style="height: 100vh;">
  
   

   


    <form class="col-lg-6 p-4 m-auto" style="background-color: rgb(238, 241, 244);">
      <h2>Admin Login</h2>
      <div class="mb-3">
        <label for="email" class="form-label">*Enter Email:</label>
        <input type="email" [(ngModel)]="admin.email" class="form-control" name="email" id="email"
          placeholder="Enter admin's Email-ID" aria-describedby="emailHelp" #email="ngModel"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required>
       <div  *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']" class="text-danger">
   Email is required!
      </div>
    </div>
    <div  *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors?.['pattern']" class="text-danger">
  Enter valid Email address!
    </div>
  </div> 
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">*Password:</label>
        <input type="password" [(ngModel)]="admin.password" class="form-control" name="password" id="password"
          placeholder="**Password**" #pass="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>


        <!-- <div  *ngIf="pass.invalid && (pass.dirty || pass.touched)">
          <div *ngIf="pass.errors?.['required']" class="text-danger">
              You can not move forword without password!
        </div>
      </div>
      <div  *ngIf="pass.invalid && (pass.dirty || pass.touched)">
        <div *ngIf="pass.errors?.['pattern']" class="text-danger">
           password should be min 8 char atleast 1 letter , 1 number and 1 spl char. 

        </div>
        </div> -->
      </div>

      <button (click)="adminLogin()" id="loginbtn" class="btn mr-3 btn-lg btn-primary">Login as Admin</button>
      <button routerLink="/" id="loginbtn" class="ml-3 btn btn-lg bg-light btn-outline-warning">Login as User</button>
    </form>
 
</div>