<div id="page" class="card" style="width: 18rem;">
    <h2>User Login</h2>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">UserName/Email</label>
        <input type="email" [(ngModel)]="user.email" class="form-control" name="email" id="email" placeholder="abc@gmail.com" aria-describedby="emailHelp">
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" [(ngModel)]="user.password" class="form-control" name="password" id="password" placeholder="**password**">
      </div>
  
      <button (click)="userLogin()" id="loginbtn" class="btn btn-primary">Login</button>
    </form>


  </div>
  
  