.outerMostDiv{
    display: flex;
    padding-top: 5vw;
    background: rgb(255,203,203);
    background: linear-gradient(90deg, rgba(255,203,203,0.42482930672268904) 0%, rgba(255,197,118,0.1811318277310925) 50%, rgba(240,255,126,0.43043154761904767) 100%);
}

#innerDivLeft{
    font-family: 'Courier New', monospace;
    color: rgb(69, 0, 0);
    border: none;

}

.stepsChild{
    border: none;
    background: transparent;
}

.stepsTitle{
    margin-inline: 5vw;
}

.title{
    margin-inline-start: 22vw;
    color: rgb(255, 0, 0);
}

#innerDivRight{
    margin-top: 5%;
    background: transparent;
}

#loginbtn{
    margin-inline-start: 8vw;
    margin-top: 2vw;
}

#page{
    border: none;
}

.form-label{
    font-weight: bold;
}

