.outerMostDiv{
    display: flex;
}

#innerDivLeft{
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    border: none;

}

.stepsChild{
    border: none;
}

.stepsTitle{
    margin-inline: 11vw;
}

.title{
    margin-inline: 25vw;
    color: blue;
}

#innerDivRight{
    margin-top: 5%;
}

#loginbtn{
    margin-inline-start: 8vw;
    margin-top: 2vw;
}

#page{
    border: none;
}

