<div class="container" style="background-color: rgb(239, 242, 246);">
  <!-- <div id="innerDivLeft" class="card stepsCard"
    style="background: lightblue; width: 60vw; height: 49vw; padding: 2%;">

    <div class="card stepsChild">
      <h2 class="card-title stepsTitle">
        Protect Your Home in Just 4 Steps
      </h2>
    </div>

    <div class="card stepsChild">
      <h4 style="padding-top: 2%" class="card-title title">Step1</h4>
      <div class="card-body">
        <h5 class="card-text" style=" margin-inline-start: 15vw;">Add Property Details</h5>
      </div>
    </div>

    <div class="card stepsChild">
      <h4 style="padding-top: 2%" class="card-title title">Step 2</h4>
      <div class="card-body">
        <h5 class="card-text" style="margin-inline-start: 11vw;">
          Choose/Customize Insurance Policy
        </h5>
      </div>
    </div>

    <div class="card stepsChild">
      <h4 style="padding-top: 2%" class="card-title title">Step 3</h4>
      <div class="card-body">
        <h5 class="card-text" style="margin-inline-start: 14vw;">Upload Required Documents</h5>
      </div>
    </div>

    <div class="card stepsChild">
      <h4 style="padding-top: 2%" class="card-title title">Step 4</h4>
      <div class="card-body">
        <h5 class="card-text" style="margin-inline-start: 18vw;">
          Make a Payment
        </h5>
      </div>
    </div> -->
  <div class="row">

    <div class="home_heading text-center my-4 mx-auto d-flex justify-content-center align-items-center"
      style="font-size: 48px; width: 80%;">
      <h2>Protect Your Home in &nbsp;</h2>
      <h2 style="color: orangered;">Just 4 Steps!</h2>
    </div>
    <div class="col-4">
      <div class="card  justify-content-center my-3 align-items-center d-flex p-2">
        <h4 class="card-title">Step1</h4>

        <div class="card-body">
          <p class="card-text">Add your property.</p>
        </div>
      </div>

      <div class="card   justify-content-center my-3 align-items-center d-flex p-2">
        <h4 class="card-title m-auto"  >Step 2</h4>

        <div class="card-body">
          <p class="card-text">1.Choose suitable insurance policy.
        </p>
        </div>
      </div>

      <div class="card   justify-content-center my-3 align-items-center d-flex p-2">
        <h4 class="card-title  m-auto "  >Step 3</h4>


        <div class="card-body">
          <p class="card-text">Upload required documents & > my policies.</p>
        </div>
      </div>

      <div class="card   justify-content-center my-3 align-items-center d-flex p-2">
        <h4 class="card-title  m-auto">Step 4 </h4>


        <div class="card-body">
          <p class="card-text">Review your application & Pay.</p>
        </div>
      </div>
      <h2 class=" stepsTitle text-center">
        Done...Your House is Secured Now!
      </h2>
    </div>






    <div class="col mt-3">

    
        

          <div class="alert alert-success alert-dismissible" *ngIf="message">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{message}}</strong>
          </div>

          <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{errorMessage}}</strong>
          </div>


<div class="container d-flex justify-content-center align-items-center" style="margin-top: 15%;">
          <form class="col-lg-10 px-3 mx-auto border rounded py-4 m-auto bg-light">  <h2>User Login</h2>
            
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" [(ngModel)]="user.email" class="form-control" name="email" id="email"
                placeholder="abc@gmail.com" aria-describedby="emailHelp" style="width: 20vw; " #email="ngModel"
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required />
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors?.['required']" class="text-danger">
                Email required!
              </div>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors?.['pattern']" class="text-danger">
                Enter a valid Email Address!
              </div>
            </div>

            <div class="my-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" [(ngModel)]="user.password" class="form-control" name="password" id="password"
                placeholder="**password**" style="width: 20vw;" #password="ngModel"
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required />
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors?.['required']" class="text-danger">
                Password is required !
              </div>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors?.['pattern']" class="text-danger">
                password should be min 8 char atleast 1 letter,1 number.
              </div>
            </div>
          
          

              <button (click)="userLogin()" id="loginbtn" class="btn btn-lg btn-primary mr-3">
                Login as User
              </button>
              <button routerLink="/admin/login" type="button" class="btn btn-lg btn-outline-warning ml-3">Login as
                Admin</button>
  

            <p class="my-3"> Dont have an account ? <a routerLink="/register"><b>Register</b></a></p>
          </form>
        </div>
      </div>
   
  </div>
  <!-- *ngIf="message"  -->