<div class="alert alert-success alert-dismissible" *ngIf="message" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{message}}</strong>
</div>

<div class="alert alert-danger alert-dismissible" *ngIf="errorMessage" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{errorMessage}}</strong>
</div>

<div class="outerMostDiv" >

  <div id="innerDivLeft" class="card stepsCard" style="background: transparent; width: 60vw; height: 49vw; padding: 2%;">

    <div class="card stepsChild">
      <h2 class="card-title stepsTitle">
        Protect Your Home in Just 4 Steps
      </h2>
    </div>

    <div class="card stepsChild">
      <h4 style="padding-top: 2%" class="card-title title">Step1</h4>
      <div class="card-body">
        <h5 class="card-text" style=" margin-inline-start: 15vw;">Add Property Details</h5>
      </div>
    </div>

    <div class="card stepsChild">
      <h4 style="padding-top: 2%" class="card-title title">Step 2</h4>
      <div class="card-body">
        <h5 class="card-text" style="margin-inline-start: 11vw;">
          Choose/Customize Insurance Policy
        </h5>
      </div>
    </div>

    <div class="card stepsChild">
      <h4 style="padding-top: 2%" class="card-title title">Step 3</h4>
      <div class="card-body">
        <h5 class="card-text" style="margin-inline-start: 14vw;">Upload Required Documents</h5>
      </div>
    </div>

    <div class="card stepsChild">
      <h4 style="padding-top: 2%" class="card-title title">Step 4</h4>
      <div class="card-body">
        <h5 class="card-text" style="margin-inline-start: 18vw;">
          Make a Payment
        </h5>
      </div>
    </div>

    <div class="card stepsChild" style="padding-top: 5%;">
      <h2 class="card-title stepsTitle ">
        Done...Your House is Secured Now!
      </h2>
    </div>

  </div>



  <div id="innerDivRight" style="width: 40vw; height: 49vw; padding: 2%;">
    <div id="page" class="card login" style="background: transparent;">
      <h2 style="padding-bottom:3vw; margin-inline-start: 5vw;">User Login</h2>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            [(ngModel)]="user.email"
            class="form-control"
            name="email"
            id="email"
            placeholder="abc@gmail.com"
            aria-describedby="emailHelp"
            style="width: 20vw;"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            [(ngModel)]="user.password"
            class="form-control"
            name="password"
            id="password"
            placeholder="**password**"
            style="width: 20vw;"
          />
        </div>

        <button (click)="userLogin()" id="loginbtn" style="margin-bottom: 7%;" class="btn btn-lg btn-primary">
          Login
        </button>
        <h5> Dont have an account ? <a routerLink="/register"><b>Register</b></a></h5>
      </form>
    </div>
    <div style="margin-top: 8vw; margin-inline-start: 30vw;"><button routerLink="/admin/login" type="button" class="btn btn-lg btn-outline-warning">Admin</button></div>
  </div>
</div>



<!-- *ngIf="message"  -->