<h1 class="title">All Policies</h1>
<button (click)="backToHome()" class="btn btn-lg btn-primary" >Back</button>
<div>
    <div>
        
        <div *ngFor="let adminPolicy of adminPolicies" class = "card" >
            <p>Policy Name : {{adminPolicy.policyName}}</p>
            <p>Policy Description : {{adminPolicy.policyDescription}}</p>
            <p>Policy Duration : {{adminPolicy.policyDuration}}</p>
            <p>Premium Amount : {{adminPolicy.premiumAmount}}</p>
            <p>Customised Policy : {{adminPolicy.customPolicy}}</p>
            <p>Property Amount{{adminPolicy.propertyAmount}}</p>
            <p>Feature Name :</p> 
            <div *ngFor="let feature of features" >
                <p style="margin-left: 30%; margin-top: -5%;">{{feature.featureName}}.</p>
            </div>
            <!-- <button (click)="goToOwnedPolicy(adminPolicy.id)" class="btn btn-lg btn-primary" >Apply for Policy</button> -->
        </div>
    </div>

</div>